@import "../../scss/mixins.scss";

.toolbar{
    display: flex;
    padding: 15px 30px !important;
    justify-content: space-between;
    align-items: center;
    .search{
        @include tablet(){
            display: none;
        }
    }
    .hamburger{
        display: none;
        @include tablet(){
            display: block;
        }
    }
    .icons-wrapper{
        color: gray;
        display: flex;
        justify-content: space-around;
        gap: 20px;
        .icons{
            font-size: 28px;
            cursor: pointer;
        }
        .flag-img{
            width: 28px;
            height: 28px;
            cursor: pointer;
        }
    }
  
}
  .message-dropdowns{
        display: flex;
        align-items: center;
        gap: 20px;
        .profile{
            img{
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }
        }
        
        div{
            h5{
                line-height: 0;
            }
            p{
                font-size: 18px;
            }
        }
    }