.sideBars{
    div{
        &::-webkit-scrollbar{
            display: none;
        }
    }  
    .logo-wrapper{
        display: flex;
        align-items: center;
        gap:15px;
        img{
            width: 35px;
        }
        p{
            font-size: 28px;
            font-weight: 500;
        }
    }  
    .list-items-parent{
        span{
            font-size: 15px;
        }
    }
    
    .list-items-child{
        // text-align: justify;
        span{
            font-size: 13px;
        }
    }
}