@import "../../scss/mixins";

.default-dashboard-container{
    .heading{
        display: flex;
        justify-content: space-between;
        @include tablet() {
           
          }
        .heading-text{
            h2{
                line-height: 1;
            }
            p{
                line-height: 0.8;
            }
        }
        .heading-buttons{
            display: flex;
            align-items: center;
            
            .icons{
                color: #4782da;
                font-size: 30px;
                
            }
            .button{
                background-color: #4782da;
                color: white;
                font-size: 18px;
                font-weight: 500;
                padding: 6px 15px;
            }
        }
    }

    .dashboard-cards{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        justify-content: space-between;
        @include tablet(){
            justify-content: center;
            gap: 10px;
        }
        .cards{
            width: 24%;
            @include tablet(){
                width: 32%;
            }
            @include mobile(){
                width: 48%;
            }
            box-shadow: rgba(50, 50, 93, 0.024) 0px 2px 5px -1px, rgba(0, 0, 0, 0.05) 0px 1px 3px -1px;
            .css-3qzz3m-MuiCardContent-root:last-child {
                padding-bottom: 0px;
            }
            .card-heading{
                display: flex;
                align-items: self-start;
                justify-content: space-between;
        
                .badges{
                    font-size: 14px;
                    background-color: #4782da;
                    color: white;
                    padding: 2px 6px;
                    border-radius: 6px;
                }
               } 
               .card-footer{
                display: flex;
                gap: 10px;
                align-items: center;
               
                    .text{
                        color: gray;
                    }
                .positive{
                    background-color: rgb(76 175 80 / 10%);
                    color: #4caf50;
                    font-weight: 600;
                    font-size: 20px;
                    padding: 2px 3px;
                    border-radius: 3px;
                }
                .negative{
                    background-color:rgb(244 67 54 / 10%);
                    color: #f44336;
                    font-weight: 600;
                    font-size: 20px;
                    padding: 2px 3px;
                    border-radius: 3px;

                    
                }
               }
        }
        .cards:last-child{
            color: #376fd0;
            background-color: #376fd020;
            .text{
                color: #376fd0;
            }

        }
      
    }

    .graphs-Section{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include tablet(){
            justify-content: center;
            row-gap: 20px;
        }
        .total-revenue{
            width: 67%;
            @include tablet(){
                width: 95% ;
            }
            

        }

        .weekly-sales{
            width: 32%;
            @include tablet(){
                width: 95% ;
            }
        }
    }

    .last-section{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include tablet(){
           justify-content: center;
           row-gap: 20px;
        }
        .moblie-dekstop-graph{
            width: 34%;
            @include tablet(){
                width: 98% ;
            }
            .css-172kpif-MuiResponsiveChart-container{
                svg{

                    g{
                        rect{
                          width: 10px !important;
                        //   transform: translate3d(62.35px, 196px, 0px) !important;

                        }
                    }
                }
            }
        }
        .latest-projects{
            width: 65%;
            @include tablet(){
                width: 98% ;
            }

            .status-badge{
                color: white;
                font-size: 16px;
                padding: 4px 10px;
                border-radius: 6px;
                font-weight: 600;
            }
        }
    }
}


.line-chart .recharts-curve.recharts-line-dash {
    stroke-dasharray: 5, 5; /* Adjust the dash pattern as needed */
  }